@import "./variables";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 16px;
  background-color: $off-white;
  color: $dark-grey;
  line-height: 1.5;
}
button {
  border: none;
  font-size: inherit;
  background-color: inherit;
}
header {
  min-height: 100vh;
}
main {
  background-color: $off-white;
}
h2 {
  font-size: 35px;
  text-align: center;
  width: 100%;
  margin: 10px auto;
}
.section-header {
  margin: 5% auto 3% auto;
  width: 60%;
  max-height: 100px;
}
%section-line {
  height: 5px;
  width: 100%;
  border-radius: 15px;
  margin: 3px 0;
}
.dark-line {
  @extend %section-line;
  background-color: $dark-line;
}
.light-line {
  @extend %section-line;
  background-color: $light-line;
}
%not-pressed {
  border-right-color: $green-btn-border;
  border-bottom-color: $green-btn-border;
  border-top-color: $green-btn;
  border-left-color: $green-btn;
}
%pressed {
  border-right-color: $green-btn;
  border-bottom-color: $green-btn;
  border-top-color: $green-btn-border;
  border-left-color: $green-btn-border;
}
.btn-green {
  background-color: $green-btn;
  border-width: 5px;
  border-style: solid;
  color: $off-white;
  border-radius: 5px;
  &:hover {
    cursor: pointer;
  }
}
.push_button {
  @extend %not-pressed;
  &:active {
    @extend %pressed;
  }
  &:focus {
    outline: 0;
  }
}
