@import "./variables";

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', helvetica;
  font-size: 16px;
  background-color: $off-white;
  color: $dark-grey;
}
header {
  min-height: 100vh;
}
main {
  background-color: $off-white;
}
h2 {
  font-size: 35px;
  text-align: center;
  width: 100%;
  margin: 10px auto;
}
.section-header {
  margin: 5% auto 3% auto;
  width: 60%;
  max-height: 100px;
}
%section-line {
  height: 5px;
  width: 100%;
  border-radius: 15px;
  margin: 3px 0;
}
.dark-line {
  @extend %section-line;
  background-color: $dark-line;
}
.light-line {
  @extend %section-line;
  background-color: $light-line;
}
