@import "./variables";

#contact-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20vh;
  #contact-icons-container {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    img {
      width: 75px;
      height: 75px;
    }
  }
}

@media screen and (max-width: 800px) {
  #contact-container {
    #contact-icons-container {
      width: 90%;
      margin: 5% auto;
    }
  }
}
