@import "./variables";

#homepage {
  min-height: 90vh;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  h1 {
    margin: 30vh 0 0 0;
    font-size: 45px;
    font-weight: 100;
    width: 100%;
    span {
      font-weight: 600;
      font-size: 50px;
      margin-left: -7px;
    }
  }
  #chevron-down-container {
    margin: auto auto 1rem auto;
    i {
      font-size: 30px;
      width: 30px;
      color: white;
      background-color: $green-btn;
      padding: 0.6rem;
      border-radius: 50%;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 800px) {
  #homepage {
    background: none;
    h1 {
      width: 100%;
      margin: 25vh auto;
      text-align: center;
    }
    #chevron-down-container {
      margin-top: 0;
    }
  }
}
