@import './variables';

nav {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 8vh;
  display: flex;
  background-color: white;
  border-radius: 0 0 10px 10px;
  ul {
    display: flex;
    margin: auto;
    padding: 0;
    width: 40%;
    justify-content: space-between;
    button {
      list-style: none;
      min-width: 60px;
      margin: auto;
      text-align: center;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.green_underline {
  border-bottom: $green-btn 3px solid;
  padding: 3px 0;
}

@media screen and (max-width: 800px) {
  nav {
    ul {
      width: 100%;
    }
  }
}
