#random-quote-container {
  min-height: 100vh;
  display: flex;
  #quote-text {
    margin: auto;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    #quote {
      min-height: 35vh;
      border: 3px solid black;
      width: 85%;
      display: flex;
      border-radius: 150px;
      border-bottom-right-radius: 0;
      background-color: white;
      p {
        width: 80%;
        margin: auto;
        text-align: center;
      }
    }
    #author {
      width: 100%;
      justify-content: flex-end;
      display: flex;
    }
    #button-container {
      display: flex;
      button {
        margin: 5vh auto;
        width: 150px;
        height: 50px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  #random-quote-container {
    #quote-text {
      width: 98%;
      #quote {
        min-height: 60vh;
      }
    }
  }
}
