@import './variables.scss';

$dark-grey-border: 2px solid $dark-grey;

%player-circle {
  width: 22px;
  height: 22px;
  border-radius: 25px;
  border: solid 1px white;
  margin: auto 5px;
  color: $off-white;
  text-align: center;
  display: flex;
  font-size: 18px;
  span {
    margin: -3px auto auto auto;
  }
}
%square-background-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#sandl-container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  #players {
    position: sticky;
    position: -webkit-sticky;
    height: 85vh;
    top: -1px;
    width: 19%;
    display: flex;
    flex-direction: column;
    margin: 2% 1% 2% 0;
    .player-display {
      display: flex;
      margin: 3% auto 0 auto;
    }
    #score-info {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      height: 40vh;
      margin: 40% 0px 0px 0px;
      p {
        text-align: justify;
      }
    }
  }
  #board {
    width: 78%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 2% 1%;
    .board-row {
      display: flex;
      width: 100%;
      .square {
        display: flex;
        width: 10%;
        justify-content: center;
        border: $dark-grey-border;
        div {
          margin: auto 0;
        }
        #p1-Circle {
          @extend %player-circle;
          background-color: red;
        }
        #p2-Circle {
          @extend %player-circle;
          background-color: rgb(0, 150, 0);
        }
      }
      .snake {
        background-image: url('../dist/assets/snake.png');
        @extend %square-background-image;
      }
      .ladder {
        background-image: url('../dist/assets/ladder.png');
        @extend %square-background-image;
      }
      .blue-background {
        background-color: rgb(0, 125, 255);
        color: $off-white;
      }
    }
    :nth-child(even) {
        flex-direction: row-reverse;
    }
  }
  button {
    width: 90%;
    margin: 8vh auto;
    height: 50px;
  }
  #winner-message {
    position: absolute;
    background-image: url('../dist/assets/fireworks.jpg');
    background-size: contain;
    color: $off-white;
    width: 100%;
    height: 100vh;
    display: flex;
    border: $dark-grey-border;
    div {
      margin: 25vh auto;
      display: flex;
      flex-wrap: wrap;
      h2 {
        font-size: 50px;
      }
      button {
        margin: 200px auto 0 auto;
        width: 20%;
      }
    }
  }
}
